<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="database.properties" />
	
	<!-- typeAlias예시 -->
	<typeAliases><!--kr.co.sist.domain.EmpDomain -> mapper에서 resultType을 ed로 사용가능  -->
	
	<!-- AS 예시 -->
	<!-- <typeAlias type="kr.co.sist.domain.EmpDomain" alias="ed"/> -->

	</typeAliases>
  
  <!-- 환경 설정 -->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${connectionURL}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>

  <!-- 매퍼 위치 설정 -->
  <mappers>
    <mapper resource="mapper/DashboardMapper.xml"/>
    <mapper resource="mapper/DiningMapper.xml"/>
    <!-- 매퍼 추가되면 활성화 시켜주세요! -->
<!--     <mapper resource="mapper/EventMapper.xml"/>
    <mapper resource="mapper/NoticeMapper.xml"/>
    <mapper resource="mapper/QnaMapper.xml"/>
    <mapper resource="mapper/HomeMapper.xml"/>
    <mapper resource="mapper/LoginMapper.xml"/>
    <mapper resource="mapper/MemberMapper.xml"/>
    <mapper resource="mapper/ResMapper.xml"/>
    <mapper resource="mapper/RoomMapper.xml"/> -->
  </mappers>
  
</configuration>