<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.elysian.admin.login">

  <!-- 관리자 로그인 시 해당 관리자가 테이블에 존재하는 지 -->
	<select id="searchLogin" resultType="ad" parameterType="av">
		select admin_id adminId, admin_authority adminAuthority
		from admin
		where admin_id = #{ adminId } and admin_pw = #{ adminPw }
	</select>
	
</mapper>