<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.elysian.admin.room">


	<select id="roomList" resultType="rld">
		select ROOM_ID roomId, ROOM_RANK_NAME roomRankName, BED_NAME bedName, VIEW_NAME viewName, ROOM_SIZE roomSize 
		from ROOM
		where DELETE_STATUS ='N'
	</select>
	 
	<select id="roomDetail" resultType="rd" parameterType="int">
		select ROOM_ID roomId, ROOM_RANK_CODE roomRankCode, ROOM_RANK_NAME roomRankName, ROOM_SIZE roomSize, ROOM_BASIC_CAPACITY roomBasicCapacity, ROOM_MAX_CAPACITY roomMaxCapacity, ROOM_BASIC_PRICE roomBasicPrice, VIEW_CODE roomViewCode, VIEW_NAME roomViewName, ROOM_ADD_PRICE roomAddPrice, BED_CODE roomBedCode, BED_NAME roomBedName, BED_CNT roomBedCnt, DELETE_STATUS roomDeleteStatus
		from ROOM
		where ROOM_ID = #{roomId}
	</select>
	 
	<update id="updateRoom"  parameterType="urVO">
		update ROOM
		set
		BED_CODE = #{bedCode},
		BED_NAME = #{bedName},
		BED_CNT = #{bedCnt}
		where ROOM_ID = #{roomId}
		</update>

	<select id="selectRoomId" resultType="int" parameterType="int">
 		SELECT MAX(room_ID) + 1 AS roomId
 		FROM ROOM
 		WHERE ROOM_ID LIKE CONCAT(#{selectedRoomFloor}, '%')
 	</select>
	
	<insert id="insertRoom" parameterType="rVO">
		INSERT INTO ROOM 
		(ROOM_ID, ROOM_RANK_CODE, ROOM_RANK_NAME, ROOM_SIZE, ROOM_BASIC_CAPACITY, ROOM_MAX_CAPACITY, ROOM_BASIC_PRICE, VIEW_CODE, VIEW_NAME, ROOM_ADD_PRICE, BED_CODE, BED_NAME, BED_CNT)
		VALUES
		(#{roomId}, #{roomRankCode}, #{roomRankName}, #{roomSize}, #{roomBasicCapacity}, #{roomMaxCapacity}, #{roomBasicPrice}, #{viewCode}, #{viewName}, #{roomAddPrice}, #{bedCode}, #{bedName}, #{bedCnt})
	</insert>
	
	



</mapper>