<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.elysian.member.board.event">
	
	<!-- 이벤트 종료날짜 내림차순대로 6개씩 가져오는 쿼리문 -->
	<select id="allEventList" resultType="eDomain" parameterType="map">
     SELECT 
        EVENT_NUM AS eventNum,
        ADMIN_ID AS adminId,
        EVENT_TITLE AS eventTitle,
        EVENT_SUB_TITLE AS eventSubTitle,
        EVENT_STARTDATE AS eventStartDate,
        EVENT_ENDDATE AS eventEndDate,
        EVENT_MAIN_IMG AS eventMainImg,
        EVENT_SUB_IMG AS eventSubImg,
        EVENT_CONTENT AS eventContent,
        EVENT_INPUTDATE AS eventInputDate,
        RNUM
    FROM (
        SELECT 
            EVENT_NUM,
            ADMIN_ID,
            EVENT_TITLE,
            EVENT_SUB_TITLE,
            EVENT_STARTDATE,
            EVENT_ENDDATE,
            EVENT_MAIN_IMG,
            EVENT_SUB_IMG,
            EVENT_CONTENT,
            EVENT_INPUTDATE,
            ROW_NUMBER() OVER (ORDER BY EVENT_ENDDATE DESC) AS RNUM
        FROM EVENT
        WHERE EVENT_TITLE LIKE '%'||#{searchText}||'%' 
        
    )
    WHERE RNUM BETWEEN #{offset} + 1 AND #{offset} + #{size}
	</select>
	
	<!-- 검색된 이벤트 종료날짜 내림차순대로 6개씩 가져오는 쿼리문  -->
	<select id="searchEventList" resultType="eDomain" parameterType="map">
     SELECT 
        EVENT_NUM AS eventNum,
        ADMIN_ID AS adminId,
        EVENT_TITLE AS eventTitle,
        EVENT_SUB_TITLE AS eventSubTitle,
        EVENT_STARTDATE AS eventStartDate,
        EVENT_ENDDATE AS eventEndDate,
        EVENT_MAIN_IMG AS eventMainImg,
        EVENT_SUB_IMG AS eventSubImg,
        EVENT_CONTENT AS eventContent,
        EVENT_INPUTDATE AS eventInputDate,
        RNUM
    FROM (
        SELECT 
            EVENT_NUM,
            ADMIN_ID,
            EVENT_TITLE,
            EVENT_SUB_TITLE,
            EVENT_STARTDATE,
            EVENT_ENDDATE,
            EVENT_MAIN_IMG,
            EVENT_SUB_IMG,
            EVENT_CONTENT,
            EVENT_INPUTDATE,
            ROW_NUMBER() OVER (ORDER BY EVENT_ENDDATE DESC) AS RNUM
        FROM EVENT
         WHERE EVENT_ENDDATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
         AND EVENT_TITLE LIKE '%'||#{searchText}||'%'        
    )
    WHERE RNUM BETWEEN #{offset} + 1 AND #{offset} + #{size}
	</select>
	
	<!-- 이벤트 전체 갯수 가져오는 쿼리문 -->
	<select id="eventCount" resultType="int">
	SELECT COUNT(*) FROM EVENT
	</select>
	
	<!-- 검섹된 이벤트 갯수 가져오는 쿼리문 -->
	<select id="searchEventCount" resultType="int" parameterType="map">
	SELECT COUNT(*) FROM EVENT
	WHERE EVENT_ENDDATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{endDate}, 'YYYY-MM-DD')	
	</select>
	
	<!-- 이벤트 상세조회 쿼리문 -->
	<select  id="searchEventDetail" resultType="eDomain" parameterType="String">
	    SELECT 
            EVENT_NUM AS eventNum,
            ADMIN_ID AS adminId,
            EVENT_TITLE AS eventTitle,
            EVENT_SUB_TITLE AS eventSubTitle,
            EVENT_STARTDATE AS eventStartDate,
            EVENT_ENDDATE AS eventEndDate,
            EVENT_MAIN_IMG AS eventMainImg,
            EVENT_SUB_IMG AS eventSubImg,
            EVENT_CONTENT AS eventContent,
            EVENT_INPUTDATE AS eventInputdate
        FROM EVENT
        WHERE EVENT_NUM = #{eventNum}
	</select>
	<!-- 추천이벤트 조회 쿼리문 -->
	<select id="sugEventLists" resultType="eDomain">
		select eventNum,eventTitle, eventContent, eventStartDate, eventEndDate, eventMainImg, eventSubImg
		from (
			 select row_number() over(order by event_inputdate desc) num,
			 event_num eventNum, event_title eventTitle, event_content eventContent, 
			 to_char(event_startdate, 'yyyy.mm.dd') eventStartDate, to_char(event_enddate, 'yyyy.mm.dd') eventEndDate, 
			 event_main_img eventMainImg, EVENT_SUB_IMG eventSubImg
			 
			 from event
			 )
		where num between 1 and 6
	</select>
	
</mapper>