name: Java CI with Maven

on:
  push:
    branches: [ MuYeong_Spring ]
  pull_request:
    branches: [ MuYeong_Spring ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11' ]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.8.2

      - name: Verify Maven installation
        run: mvn -version
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'
          
      - name: Set JAVA_HOME
        run: |
          echo "JAVA_HOME=$JAVA_HOME" >> $GITHUB_ENV
          echo "$JAVA_HOME/bin" >> $GITHUB_PATH
          
      - name: Build with Maven
        run: mvn clean install
      
      - name: Build and run Docker container
        run: |
          docker build -t elysian
          docker run -d -p 80:8080 elysian