name: Main Branch Workflow

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '*/5 * * * *'  # 매 5분마다 실행

jobs:
  build_and_run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
            node-version: '20'

      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: '3.8.2'

      - name: Verify Maven installation
        run: mvn -version
      
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'  # Example distribution, adjust as needed

      - name: Build with Maven
        run: mvn clean install

      - name: Build Docker image
        run: |
          docker build -t elysian .
          docker run -d -p 80:8080 elysian

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
         

      - name: Push Docker image to Docker Hub
        run: |
          docker tag my-java-app ${{ secrets.DOCKER_USERNAME }}/elysian:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/elysian:latest

  additional_tasks:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run additional tasks on merge
        run: |
          echo "Additional tasks running after PR merge."
          # Add your additional tasks here